#skill {
  width: 100%;
  height: fit-content;
  color: black;
  text-align: center;
}

#skill .row {
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 0px;
  padding-bottom: 10vh;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}

svg.radial-progress circle.incomplete {
  opacity: 0.25;
}

svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}

svg.radial-progress {
  stroke-width: 5;
}

svg.radial-progress text {
  fill: #ffffff;
  font-size: 15px;
  font-family: "Poppins";
}

svg.web-design circle {
  stroke: #ffffff;
}

svg.html-css circle {
  stroke: #d74680;
}

svg.graphic-design circle {
  stroke: #15c7a8;
}

svg.ui-ux circle {
  stroke: #eb7d4b;
}

#skill p {
  color: #7d8285;
}

#skill h2 {
  font-weight: 400;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

#skill h2::after {
  background-color: #c8d9e5;
  width: 100px;
  height: 3px;
  display: block;
  content: '';
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

#skill .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

#skill .into p {
  margin-bottom: 0;
}

.thumb-img {
  border-radius: 30px;
}

.cards {
  margin-right: 10px;
}

.down-button:hover {
  color: white;
}

@media (max-width: 1199px) {
  #s2a-title {
    margin-top: 100px;
  }
}

.podcast-img {
  margin-bottom: 20px;
  border-radius: 20px;
}

.podcast-card {
  border-radius: 30px;
  box-shadow: 4px 4px 0px 0px rgb(47,60,147);
}

@media (max-width: 576px) {
  #film-doc {
    font-size: 45px!important;
  }
}

.table-white {
  color: white!important;
  font-family: 'Poppins';
  font-size: small;
}

.table-white-custom {
  color: white;
  font-family: 'Poppins';
  font-size: small;
  padding: 1.5rem;
}

.new-q:focus {
  border: none;
  box-shadow: none;
}

.new-q:hover {
  border: none;
  box-shadow: none;
}

.new-q {
  border: none;
  box-shadow: none;
}

.new-q:active, .new-q:active:focus, new-q:focus:hover {
  box-shadow: none;
}

.circle-1 {
  height: 25rem;
  width: 25rem;
  position: absolute;
  background-color: #238dba;
  border-radius: 10000px;
}

.etech-welcome-container {
}

.blur-bg-container {
  filter: blur(112px);
}

.landing-main-text {
  z-index: 2;
}

.sdg-icon {
  position: absolute;
  width: 80px;
  left: 20px;
  bottom: 20px;
}

@media (max-width: 416px) {
  .sdg-icon {
    display: none;
  }
}

.github-hover:hover {
  color: black;
}

@media (min-width: 300px) {
  .infograph-1 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .infograph-1 {
    width: 500px;
  }
}

@media (max-width: 991px) {
  .bully-rate {
    display: none!important;
  }
}

@media (max-width: 991px) {
  .blur-bg-container {
    display: none;
  }
}

@media (max-width: 991px) {
  .section.s3-bg {
    background: linear-gradient(#033a72, #080d22), #023e76;
  }
}

