:root {
  --neon: rgb(64, 54, 246);
  --neon-text: rgb(97, 90, 227);
  --neon-blue: rgb(64, 54, 246);
  --neon-pink: rgb(176,67,214);
}

body {
  color: white !important;
}

.navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
  color: white;
}

h1 {
  color: white;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-link-hover-color: var(--bs-white);
  --bs-nav-link-disabled-color: var(--bs-white);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-toggler-icon {
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.neon-text {
  color: var(--neon-text);
  text-shadow: 0 0 0.5em var(--neon);
  font-weight: 800;
}

.sdg ::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(8, 134, 119);
}

.sdg ::selection {
  color: rgb(255, 255, 255);
  background: rgb(8, 134, 119);
}

.neon-button {
  font-size: 1rem;
  color: var(--neon-blue);
  display: inline-block;
  cursor: pointer;
  border: var(--neon-blue) 3px solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.4rem 2rem;
  background: none;
  text-shadow: 0 0 0.125em #7199ff, 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.6em var(--neon-blue), 0 0 0.6em 0 var(--neon-blue);
  position: relative;
  transition: background 200ms linear;
  width: 12rem;
}

.neon-button::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--neon-blue);
  top: 150%;
  left: 0;
  width: 100%;
  height: 50%;
  transform: perspective(4em) rotateX(60deg);
  filter: blur(1em);
  opacity: 60%;
}

.neon-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.2em var(--neon-blue);
  opacity: 0;
  transition: opacity 200ms linear;
}

.neon-button:hover, .neon-button:focus {
  background: var(--neon-blue);
  color: white;
  transition: color 200ms linear;
}

.neon-button:hover::before, .neon-button:focus::before {
  opacity: 110%;
  transition: opacity 200ms linear;
}

.neon-button:hover::after, .neon-button:focus::after {
  opacity: 1;
  font-size: 1rem;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: 3px;
}

.article-button {
  border-radius: 0.8em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.529);
  border-width: 0px;
  color: black;
  font-family: 'Poppins'!important;
  transition: background-color linear 0.2s;
  transition: color linear 0.2s;
  transition: box-shadow ease 0.2s;
  transition: transform linear 0.2s;
  transition: all linear 0.2s;
}

.article-button:hover, .article-button:active:hover {
  border-radius: 0.8em;
  background-color: var(--neon);
  box-shadow: 0 0 1rem var(--neon), 5px 5px 0px 0px rgb(255, 255, 255);
  color: white;
  transition: all 100ms linear;
  border-width: 0px!important;
  transform: translateX(-5px) translateY(-5px);
}

.article-button:focus:hover {
  border-radius: 0.8em;
  background-color: var(--neon);
  box-shadow: 0 0 1rem var(--neon), 0px 0px 0px 0px rgb(255, 255, 255);
  transform: translateX(0px) translateY(0px);
  color: white;
  transition: all 100ms linear;
  border-width: 0px!important;
}

.article-button:focus, .article-button:active {
  border-radius: 0.8em;
  background-color: var(--neon);
  box-shadow: 0 0 1rem var(--neon);
  color: white;
  transition: all 100ms linear;
  border-width: 0px!important;
}

.conversational-form .cf-chat-response .thumb .p {
  background-color: rgb(141, 58, 196);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  letter-spacing: 0px;
}

.article-content {
  font-family: 'Poppins';
  letter-spacing: 0px;
}

#comments {
  display: none;
}

.cr-link {
  color: white;
}

.ai-text-input {
  background-color: #333333;
  border: 2px;
  border-style: solid;
  border-color: #515151;
  border-radius: 8px;
  height: 3rem;
  color: white;
  font-family: 'Poppins';
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.ai-text-input:focus {
  border: 2px solid #8f8f8f;
  outline: none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.gradient-text-ai {
  background: linear-gradient(45deg, rgba(222,31,201,1) 0%, rgba(9,160,245,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #0073e6, 0 0 30px #0082e6, 0 0 40px #0058e6, 0 0 60px #002ae6, 0 0 70px #2300e6;
  }
}

.crime-rate-h1 {
  transition: all ease 0.7s;
}

.crime-rate-h1 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .how-heading-col {
    padding: 0px;
  }
}

#about-us {
}

.h2 {
  color: white;
  font-size: 30px!important;
}

.hr {
  border-top: 1px solid rgb(255, 255, 255);
}

a {
  color: white;
  transition: color linear 0.2s;
}

a:hover {
  color: var(--neon-pink);
}

@media (max-width: 575px) {
  .h2 {
    font-size: 25px!important;
  }
}

@media (max-width: 575px) {
  #vid-container {
    width: 100%!important;
    height: 200px!important;
  }
}

@media (min-width: 768px),(max-width: 991px) {
  #vid-container {
    width: 100%!important;
    height: 500px!important;
  }
}

@media (min-width: 576px),(max-width: 767px) {
  #vid-container {
    width: 100%;
    height: 300px!important;
  }
}

.youtube-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#index-nav {
  position: fixed;
  top: 0;
  z-index: 99;
}

#index-nav {
  transition: all ease 0.2s;
}

